<div class="welcome-logout">
<p id="heading" class="lead mb-4">Welcome to your page!</p>
<a href="/clients/logout"class="btn btn-secondary">Logout</a>
</div>

<div class="dashboard-text">
<h2>Title 1</h2>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima molestiae quod tempora et facere eveniet aspernatur 
    placeat quam ab sit? Labore distinctio nulla dignissimos asperiores blanditiis nam molestiae corrupti placeat.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus omnis nostrum doloribus. Animi ea sint 
    natus quae! Perferendis magni veritatis labore laborum vitae, asperiores commodi quasi excepturi accusamus sequi ex.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima molestiae quod tempora et facere eveniet aspernatur 
    placeat quam ab sit? Labore distinctio nulla dignissimos asperiores blanditiis nam molestiae corrupti placeat.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus omnis nostrum doloribus. Animi ea sint 
    natus quae! Perferendis magni veritatis labore laborum vitae, asperiores commodi quasi excepturi accusamus sequi ex.
</p>

<h2>Title 2</h2>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima molestiae quod tempora et facere eveniet aspernatur 
    placeat quam ab sit? Labore distinctio nulla dignissimos asperiores blanditiis nam molestiae corrupti placeat.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus omnis nostrum doloribus. Animi ea sint 
    natus quae! Perferendis magni veritatis labore laborum vitae, asperiores commodi quasi excepturi accusamus sequi ex.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima molestiae quod tempora et facere eveniet aspernatur 
    placeat quam ab sit? Labore distinctio nulla dignissimos asperiores blanditiis nam molestiae corrupti placeat.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus omnis nostrum doloribus. Animi ea sint 
    natus quae! Perferendis magni veritatis labore laborum vitae, asperiores commodi quasi excepturi accusamus sequi ex.</p>

    <h2>Title 3</h2>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima molestiae quod tempora et facere eveniet aspernatur 
    placeat quam ab sit? Labore distinctio nulla dignissimos asperiores blanditiis nam molestiae corrupti placeat.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus omnis nostrum doloribus. Animi ea sint 
    natus quae! Perferendis magni veritatis labore laborum vitae, asperiores commodi quasi excepturi accusamus sequi ex.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima molestiae quod tempora et facere eveniet aspernatur 
    placeat quam ab sit? Labore distinctio nulla dignissimos asperiores blanditiis nam molestiae corrupti placeat.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus omnis nostrum doloribus. Animi ea sint 
    natus quae! Perferendis magni veritatis labore laborum vitae, asperiores commodi quasi excepturi accusamus sequi ex.</p>

    <h2>Title 4</h2>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima molestiae quod tempora et facere eveniet aspernatur 
    placeat quam ab sit? Labore distinctio nulla dignissimos asperiores blanditiis nam molestiae corrupti placeat.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus omnis nostrum doloribus. Animi ea sint 
    natus quae! Perferendis magni veritatis labore laborum vitae, asperiores commodi quasi excepturi accusamus sequi ex.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima molestiae quod tempora et facere eveniet aspernatur 
    placeat quam ab sit? Labore distinctio nulla dignissimos asperiores blanditiis nam molestiae corrupti placeat.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus omnis nostrum doloribus. Animi ea sint 
    natus quae! Perferendis magni veritatis labore laborum vitae, asperiores commodi quasi excepturi accusamus sequi ex.</p>

    <h2>Title 5</h2>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima molestiae quod tempora et facere eveniet aspernatur 
    placeat quam ab sit? Labore distinctio nulla dignissimos asperiores blanditiis nam molestiae corrupti placeat.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus omnis nostrum doloribus. Animi ea sint 
    natus quae! Perferendis magni veritatis labore laborum vitae, asperiores commodi quasi excepturi accusamus sequi ex.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima molestiae quod tempora et facere eveniet aspernatur 
    placeat quam ab sit? Labore distinctio nulla dignissimos asperiores blanditiis nam molestiae corrupti placeat.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus omnis nostrum doloribus. Animi ea sint 
    natus quae! Perferendis magni veritatis labore laborum vitae, asperiores commodi quasi excepturi accusamus sequi ex.</p>

    <h2>Title 6</h2>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima molestiae quod tempora et facere eveniet aspernatur 
    placeat quam ab sit? Labore distinctio nulla dignissimos asperiores blanditiis nam molestiae corrupti placeat.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus omnis nostrum doloribus. Animi ea sint 
    natus quae! Perferendis magni veritatis labore laborum vitae, asperiores commodi quasi excepturi accusamus sequi ex.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima molestiae quod tempora et facere eveniet aspernatur 
    placeat quam ab sit? Labore distinctio nulla dignissimos asperiores blanditiis nam molestiae corrupti placeat.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus omnis nostrum doloribus. Animi ea sint 
    natus quae! Perferendis magni veritatis labore laborum vitae, asperiores commodi quasi excepturi accusamus sequi ex.</p>

    <h2>Title 7</h2>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima molestiae quod tempora et facere eveniet aspernatur 
    placeat quam ab sit? Labore distinctio nulla dignissimos asperiores blanditiis nam molestiae corrupti placeat.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus omnis nostrum doloribus. Animi ea sint 
    natus quae! Perferendis magni veritatis labore laborum vitae, asperiores commodi quasi excepturi accusamus sequi ex.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima molestiae quod tempora et facere eveniet aspernatur 
    placeat quam ab sit? Labore distinctio nulla dignissimos asperiores blanditiis nam molestiae corrupti placeat.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus omnis nostrum doloribus. Animi ea sint 
    natus quae! Perferendis magni veritatis labore laborum vitae, asperiores commodi quasi excepturi accusamus sequi ex.</p>

    <h2>Title 8</h2>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima molestiae quod tempora et facere eveniet aspernatur 
    placeat quam ab sit? Labore distinctio nulla dignissimos asperiores blanditiis nam molestiae corrupti placeat.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus omnis nostrum doloribus. Animi ea sint 
    natus quae! Perferendis magni veritatis labore laborum vitae, asperiores commodi quasi excepturi accusamus sequi ex.
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima molestiae quod tempora et facere eveniet aspernatur 
    placeat quam ab sit? Labore distinctio nulla dignissimos asperiores blanditiis nam molestiae corrupti placeat.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus omnis nostrum doloribus. Animi ea sint 
    natus quae! Perferendis magni veritatis labore laborum vitae, asperiores commodi quasi excepturi accusamus sequi ex.</p>
</div>
 